################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TareasApi
/AareasApi/bin/Debug/net8.0
/AareasApi/obj
